extends layout

block content
  h1= title
  p Welcome to #{title}
  
  if session.loggedin
    form(action='/user_administration/logout' method='get')
        input(type='submit', class='btn btn-danger', name='Logout', value='Logout')
  else
    form(action='/login' method='get')
        input(type='submit', class='btn btn-primary', name='Login', value='Login')
    
  ul
    
    each mud_file in mud_file_list
      li 
        - var fileName = mud_file.file_name
        h5 #[a(href="/" + fileName + ".json") #{mud_file.file_name}] <!-- change this line with your domain-->
        if(mud_file.user_name)
          p Inserted by #{mud_file.user_name}
        p #{mud_file.source_file}
    else
      li Thre are no mudfiles in the db (be sure to populate it).